

p {
    border-style: solid;
    border-width: 5px;
} 
body {
    
    background-image: url("images/mint.jpg");
    background-repeat: no-repeat;
    background-size: 1375px 650px;
    background-attachment: fixed;
    font-family:"Comic Sans MS", fantasy;
    color:#000000; 
    
}
p {
    
    text-indent: 35px;
}
tr{  border: 1px solid #ffffff;
    text-align: center;
    background-color: #e8e6c7;
     border-style: solid;
     border-width: 5px;
 
}
.nav ul {
  list-style: none;
  background-color: #666dff;
  text-align: center;
  padding: 0;
  margin: 0;
  border-bottom: 4px solid #666dff;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 4px solid #666dff;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s ;
}
 
.nav a:hover {
  background-color: #0fc165;
}
 
.nav a:active {
  background-color: #fff;
  color: #444;
  cursor: default:#fff
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
 
}
tr:hover{background-color: #a3b0ab}